// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brand1: #08e384;
$brand1__light: #26e592;


$grey1: #faf9fb; //topbar bck
$grey2: #eeefee; //hr
$grey3: #c4c6c8; //sub text in header
$grey4: #fdfcfd; //logos background color


$dark1: #000a1e; //header col


$animSpeed1: cubic-bezier(.785,.135,.15,.86);

// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


/*letter spacing
10 = 0.01em
20 = 0.02em
*/
