.btn-text{
  display: inline-block;
  font-family: $poppins;
  font-size: 17px;
  font-weight: $medium;
  color: rgba($dark1, 0.4);
  transition: color 0.2s;
  white-space: nowrap;

  &:hover{
    color: rgba($dark1, 0.55);
    transition: color 0.3s;
  }
}

.btn-full{
  white-space: nowrap;
  display: inline-block;
  font-family: $poppins;
  text-transform: uppercase;
  font-weight: $medium;
  font-weight: $semi-bold;
  color: rgba($white, 0.95);
  letter-spacing: 0.025em;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;
  padding: 14px 40px 12px 40px;
  background-color: $brand1__light;
  border-radius: 4px;
  box-shadow: 0px 4px 9px 0px rgba($brand1, 0.3);
  transition: color 0.3s, box-shadow .45s, background-color .45s;

  &:hover{
    box-shadow: 0px 5px 10px 0px rgba($brand1, 0.5);
    background-color: $brand1;
    color: $white;
    transition: color 0.3s, box-shadow .45s, background-color .45s;
  }

  &.inactive{
    cursor: default;
    box-shadow: none;
    background-color: $brand1__light;
    color: rgba($white, 0.95);
    filter: grayscale(0.9);
    opacity: 0.8;
    
    &:hover{
      box-shadow: none;
    }
  }
}
