footer{
  text-align: center;
  padding-bottom: 120px;

  .sm{
    display: block;

    &-icon{
      display: inline-block;
      width: auto;
      height: 22px;
      vertical-align: middle;
      margin-right: 40px;
      opacity: 0.6;
      transition: opacity 0.5s;
      cursor: pointer;
      opacity: 0;

      &:nth-child(2){
        height: 23px;
      }
      &:nth-child(3){
        height: 21px;
      }

      &:last-child{
        margin-right: 0px;
      }

      &:hover{
        transition: opacity 0.3s;
        opacity: 0.72;
      }
    }
  }


  .footer-logo{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 17px;
    margin-top: 100px;
    position: relative;
    opacity: 0;
    bottom: -10px;
    transition: bottom 1s $animSpeed1, opacity 2.2s ease;

    &__one, &__hover{
      display: block;
      margin: auto;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      transition: opacity 0.4s;
    }

    &__hover{
      opacity: 0;
      transition: opacity 0.4s ease-out;
      position: absolute;
    }

    &:hover {
      .footer-logo__hover{
        opacity: 1;
        transition: opacity 0.7s;
      }
      .footer-logo__one{
        opacity: 0;
        transition: opacity 0.7s;
      }
    }
  }
}
