.boardCont{
  margin-top: 130px;
  position: relative;

  .boardCol{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .verticalHr{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}


.logosCont{
  width: 100%;
  display: block;
  margin-top: 180px;
  position: relative;

  &-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    .section-title{
      margin-bottom: 0px;
    }
  }

  &-content{
    position: relative;
    padding-top: 60px;

    ul{
      li{
        z-index: 1;
        cursor: pointer;

        .logosCont-liInner{
          height: 167px;
          border-radius: 6px;
          border: $grey2 1px solid;
          transition: background-color 0.25s;
          position: relative;
          margin-bottom: 50px;

          img{
            position: absolute;
            height: auto;
            width: auto;
            max-height: 100%;
            max-width: 100%;
            padding: 40px;
            filter: grayscale(25%);
            transition: filter 0.25s;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &:hover{
          .logosCont-liInner{
            background-color: $white;
            transition: background-color 0.4s;

            img{
              transition: filter 0.4s;
              filter: grayscale(0);
            }
          }
        }
      }
    }

    &-bck{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-color: $grey4;
    }
  }
}


// =====================================================
//    MEDIA QUERIES
// =====================================================

@media (min-width: 992px) {
  .rightPadding{
    padding-right: 70px;
  }
  .leftPadding{
    padding-left: 70px;
  }
}

// Medium
@media (min-width: 768px) {}
// Large
@media (max-width: 992px) {
  .boardCont{
    max-width: 600px;
    margin: auto;
    margin-top: 70px;

    .verticalHr{
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      margin: 70px auto;
    }
  }

  .logosCont{
    margin-top: 120px;
  }
}
// Extra large
@media (max-width: 1225px) {}

@media (max-width: 544px) {
  .section-title{
    text-align: center;
  }

  .boardCont{
    .verticalHr{
      margin: 50px auto;
    }

    .boardCol-content-main .content-row {
      h5{
        padding-left: 25px;
      }
      span{
        width: 110px;
      }
    }

    .boardCol-content-bottom{
      margin-top: 30px;
      justify-content: center;
    }
  }

  .logosCont-header{
    text-align: center;
    flex-direction: column;

    button{
      margin-top: 25px;
    }
  }
}


@media (max-width: 400px) {
  .boardCol-content-top {
    text-align: center;
    .boardCol-avatar{
      display: block;
      margin: auto;
      height: 70px;
      width: 70px;
    }

    h3{
      margin: auto;
      margin-top: 15px;
      font-size: 21px;
    }
  }


  .boardCont .boardCol-content-main .content-row {
    margin-bottom: 23px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    span{
      width: 100%;
    }
    h5{
      padding-left: 0;
      width: 100%;
      font-size: 20px;
      margin-top: 3px;
    }
  }
}
